<launch>

  <!-- robot_description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_manipulator_description)/urdf/robot_manipulator.urdf.xacro" />

  <!-- joint_state_publisher_gui -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

  <!-- robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_manipulator_description)/rviz/display.rviz" />

</launch>